/* Intro page's paragraph styling */
#intro-page {
  background-color: #000; 
  opacity: .7; 
  color: white; 
  padding: 10px; border-radius: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
#index-html, #index-body {
  height: 100%;
}

.flex-container{
  justify-content: space-evenly;
  
}
/* Show the dropdown menu on hover */
.intro-pic {
  background-size: 100%
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block; 
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000; opacity: .8;
  min-width: 160px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}
/* dropdown styling */
#parks-menu-btn {
  background-color: rgb(46, 46, 46); 
  opacity: .8;
  border-radius: 3px;
  border-width: 3px;
  border-color: rgb(108, 108, 129); 
  padding: 3px;
  color: goldenrod;
  font-weight: 600;
}
/* park pages styling */
.grid-container {
  display: grid;
  grid-template-columns: 15% 37.5% 37.5%;
  grid-auto-rows: 380px 300px ; 
  grid-gap: 40px;
  margin: 40px;
  justify-items: center;
  align-items: center;
  flex-shrink: 1;
  flex-wrap: wrap;
}
/* park pages styling weather api */
.grid-item-weather {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: span 2;
}
 /* park pages styling park description */
.grid-item-pd {
  grid-column: 2/ -1;
  grid-row: 1;
}
/* park pages park list of things to do/see */
.grid-item-pl {
 grid-column: 2/ 3;
 grid-row: 2;
}
/* park pages styling youtube */
.grid-item-yt {
  grid-column: 3;
  grid-row: 2
}
/* park pages styling for all grids*/
#park-list, #park-description, .grid-item-yt, .grid-item-weather  {
  background-color: #000;
  opacity: .75;
  color: white;
  border-radius: 10px;
  padding: 10px; 
  justify-content: center; 
}
/* styling for weather api text*/
#api-weather {
  font-size: x-small; 
  }
/* styling for weather*/
#current-W, #forecast {
  color: goldenrod;
  text-align: center;
  padding: 3px;
  margin-top: 5px;
  font-size: large;
}
/* sytling for info buttons*/
.info, .alerts, .maps, .calendar, .fees {
  margin: 30px;
  margin-top: 50px;
  background-color: rgb(1, 72, 1); opacity: .8;
  border-radius: 3px;
  border-width: 3px;
  border-color: rgb(0, 44, 0); opacity: .8;
  padding: 3px;
  color: white; 
  font-weight: 400;
}
/* hover sytling for info buttons */
.info:hover, .alerts:hover, .maps:hover, .calendar:hover, .fees:hover {
  background-color: green;
}

 /* Base styles applied for a mobile-first approach, suitable for small screens */
.grid-container {
  grid-template-columns: 1fr; /* Single column layout */
  grid-auto-rows: auto; /* Auto-adjusting row height */
  grid-gap: 20px; /* Space between grid items */
  margin: 20px; /* Margin around the grid */
}

.grid-item-weather,
.grid-item-pd,
.grid-item-pl,
.grid-item-yt {
  grid-column: 1; /* All items in the first column */
  grid-row: auto; /* Automatic row placement */
}

/* Makes iframes responsive, ensures YouTube videos resize properly */
#api-yt iframe {
  width: 100%; /* Full width of their container */
  height: auto; /* Height is automatic, maintaining aspect ratio */
}

/* Ensures images are responsive and do not overflow their container */
img {
  max-width: 100%; /* Maximum width of 100% of their container */
  height: auto; /* Height is automatic, maintaining aspect ratio */
}

/* Sets a base font size for body text to ensure legibility on small screens */
body {
  font-size: 16px; /* Base font size */
}


/* Media query for medium screens, typically tablets */
@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Three column layout */
    grid-gap: 20px; /* Space between grid items */
    margin: 20px; /* Margin around the grid */
  }

  /* Positioning grid items within the grid for medium screens */
  .grid-item-weather {
    grid-column: 1; /* First column */
    grid-row: 1 / 3; /* Spanning two rows */
  }

  .grid-item-pd {
    grid-column: 2 / 4; /* Spanning two columns */
    grid-row: 1; /* First row */
  }

  .grid-item-pl {
    grid-column: 2; /* Second column */
    grid-row: 2; /* Second row */
  }

  .grid-item-yt {
    grid-column: 3; /* Third column */
    grid-row: 2; /* Second row */
  }

  /* Adjusting header and footer styles for medium screens */
  header, footer {
    flex-direction: row; /* Horizontal layout */
    justify-content: space-between; /* Space between elements */
  }
}

/* Media query for large screens, typically desktops */
@media only screen and (min-width: 768px) {
  /* Adjusting grid layout for large screens */
  .grid-container {
    grid-template-columns: repeat(3, 1fr); /* Three column layout */
  }

  /* Adjusting header and footer layout for large screens */
  header, footer {
    justify-content: space-around; /* Even space around elements */
  }
}

/* Media query for extra large screens, typically large desktops */
@media only screen and (min-width: 992px) {
  /* Adjusting grid layout and sizing for extra large screens */
  .grid-container {
    grid-template-columns: 15% 37.5% 37.5%; /* Proportionally sized columns */
    grid-auto-rows: 380px 300px; /* Fixed height rows */
    grid-gap: 40px; /* Larger space between grid items */
    margin: 40px; /* Larger margin around the grid */
  }

  /* Padding adjustments for header and footer on extra large screens */
  header, footer {
    padding: 0 40px; /* Padding on the sides */
  }
}

/* Media query for very large screens */
@media only screen and (min-width: 1200px) {
  /* Increasing base font size for very large screens for better readability */
  body {
    font-size: 18px; /* Larger font size */
  }
}

#index-body {
  background-image: url(https://wallpapertag.com/wallpaper/full/a/c/f/899180-cool-glacier-national-park-wallpapers-2500x1556-download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center bottom;*/
  position: relative; 
  
}
#glacier-body {
  background-image: url(https://moosecreekrv.com/images/Things_to_Do/d8d6155f-ed8d-4d99-84fb-9c5caa78497e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center bottom;*/
  position: relative; 
}
#grndcyn-body{
  background-image: url(https://free4kwallpapers.com/uploads/originals/2019/02/04/colorado-river-grand-canyon-national-park-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center bottom;*/
  position: relative; 
} 
#yllwstn-body {
  background-image: url(https://wallpapercave.com/wp/wp2528949.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center bottom;*/
  position: relative; 
}
#yosem-body {
  background-image: url(https://hdqwalls.com/wallpapers/yosemite-national-park-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center bottom;*/
  position: relative; 
}
#zion-body {
  background-image: url(https://www.wallpapergeeks.com/wp-content/uploads/2014/03/Zion-National-Park-Utah-Amazing-Wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center bottom;*/
  position: relative; 
}

